<div class="flex justify-center items-center h-screen flex-col">
  <div class="text-center w-[30%] mb-4">
    <p class="text-[32px] text-[#101828] font-bold paragraph">
      Change password
    </p>
    <p class="text-[#000000] text-sm font-light">
      Please ensure your new password is strong. Use a combination of letters,
      numbers, and special characters (e.g., #, 2, &#64;)
    </p>
  </div>
  <form class="flex flex-col pl-[24px] gap-[24px]" action="">
    <div class="flex flex-col justify-center items-start">
      <label for="password">Password *</label>
      <input
        class="w-[365px] h-[40px] border border-[#D8DAE5] rounded-md pl-[20px]"
        type="password"
        name=""
        id=""
        placeholder="Enter your new password"
      />
    </div>

    <div class="flex flex-col justify-center items-start">
      <label for="password">Confirm Password *</label>
      <input
        class="w-[365px] h-[40px] border border-[#D8DAE5] rounded-md pl-[20px]"
        type="password"
        name=""
        id=""
        placeholder="Enter your confirm password"
      />
    </div>

    <div>
      <button class="bg-[#1849A9] w-[365px] h-[40px] rounded-md text-white">
        Sign in
      </button>
    </div>
  </form>
</div>
