<div>
  @for (question of Questions; track question.id) {
    <div class="question-card mb-8">
      <p class="font-bold mb-4">{{ question.id }}. {{question.text}}</p>
      <div class="flex flex-col">
        @for (option of question.options; track option; let optionIndex = $index) {
          <div class="flex gap-3 mb-2">
            @if (question.type === 'SINGLE') {
              <input
                class="cursor-pointer"
                type="radio"
                [id]="'question' + question.id + 'option' + optionIndex"
                [name]="'question' + question.id"
                [value]="optionIndex"
                [disabled]="isfromScoresPage"
                [checked]="isOptionSelected(question.id, optionIndex)"
                (change)="onOptionChange(question.id, optionIndex)"
              >
            } @else {
              <input
                class="cursor-pointer"
                type="checkbox"
                [id]="'question' + question.id + 'option' + optionIndex"
                [name]="'question' + question.id"
                [disabled]="isfromScoresPage"
                [value]="optionIndex"
                [checked]="isOptionSelected(question.id, optionIndex)"
                (change)="onOptionChange(question.id, optionIndex)"
              >
            }
            <label [for]="'question' + question.id + 'option' + optionIndex">{{ option}}</label>
          </div>
        }
      </div>
    </div>
  }
  <div [ngClass]="{'hidden': isfromScoresPage}" (click)="formatAndSendAnswers()" class="flex float-right bg-[#1849A9] rounded-[4px] text-white py-1 px-[30px] mb-10 cursor-pointer">
    <button >Finish my session</button>
  </div>
</div>
