<section>
  <div class="flex justify-between items-center mb-8">
    <div class="md:flex gap-2 w-[140px] hidden"></div>
    <div class="flex gap-2">
      <button
        class="font-WorkSans text-sm mt-4 px-2 py-1 rounded-md transition-all ease-in 1s"
        (click)="showQuestions()"
        [class]="{
          active: currentView === 'questions',
          inactive: currentView !== 'questions'
        }"
      >
        Question
      </button>
      <button
        class="font-WorkSans text-sm mt-4 px-2 py-1 rounded-md transition-all ease-in 1s"
        (click)="showSettings()"
        [class]="{
          active: currentView === 'settings',
          inactive: currentView !== 'settings'
        }"
      >
        Settings
      </button>
    </div>

    <div class="flex gap-2">
      <button
        type="button"
        (click)="previewQuestions()"
        class="text-black border-gray-400 text-xs mt-4 hover:bg-gray-100 bg-white border px-3 py-1 rounded-md transition-all ease-in 1s"
      >
        Preview
      </button>
      <button
        type="button"
        (click)="sendQuestions()"
        class="text-white text-sm mt-4 hover:bg-blue-500 bg-[#175CD3] px-3 py-1 rounded-md transition-all ease-in 1s"
      >
        Send
      </button>
    </div>
  </div>
  <main class="md:w-[80%] md:mx-auto">
    @if(currentView === 'questions') {
    <app-form (outputQuestions)="handleQuestions($event)" />

    } @if(currentView === 'settings'){

    <app-questions-settings (settingsChanged)="handleSettingsChange($event)" />
    }
  </main>
</section>
