<section class="bg-white rounded-lg border-2 border-[#EDEFF5]">
  <h2 class="font-bold text-black text-sm p-5">{{ title() }}</h2>
  <div class="overflow-x-auto">
    <table class="w-full whitespace-nowrap">
      <thead class="bg-[#EDEDED]">
        <tr>
          @for(th of tableHeadings(); track $index) {
          <th class="text-left text-sm py-4 px-2">{{ th }}</th>
          }
        </tr>
      </thead>
      <tbody class="bg-white-100">
        @if(showLoadingState()) { @for (placeholder of placeholder; track
        $index) {
        <tr>
          <td class="animate-pulse" colspan="5">
            <div class="h-5 bg-slate-200 rounded mb-3 w-full"></div>
          </td>
        </tr>

        } } @else { @for (td of tableData(); track $index) {
        <tr class="hover:bg-gray-50 py-10">
          <td class="py-3 px-2 text-base max-w-[200px] truncate">
            {{ td.name }}
          </td>
          <td class="py-3 px-2 text-sm max-w-[65px] truncate">
            {{ td.id }}
          </td>
          <td class="py-3 px-2 text-sm max-w-[186px] truncate">
            {{ td.gender }}
          </td>
          <td class="py-3 px-2 text-sm max-w-[96px] truncate">
            {{ td.email }}
          </td>
          <td class="py-3 px-2 text-sm max-w-[186px] truncate">
            {{ td.dateCreated | date : "medium" }}
          </td>
        </tr>
        } @empty {
        <tr>
          <td class="py-6 px-8 text-center h-[calc(50vh-57px)]" colspan="5">
            No exam records found.
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </div>
</section>
