<div class="flex justify-center items-center h-screen flex-col">
  <div class="text-center w-[35%] mb-4">
    <p class="text-sm text-[#101828] font-bold paragraph">
      Forget your password?
    </p>
    <p class="text-[#000000] text-[14px] font-light">
      Please enter the email address associated with your account, and we will
      send you a link to reset your password.
    </p>
  </div>
  <form class="flex flex-col pl-[24px] gap-[24px]" action="">
    <div class="flex flex-col justify-center items-start">
      <label for="email">Email *</label>
      <input
        class="w-[365px] h-[40px] border border-[#D8DAE5] rounded-md pl-[20px]"
        type="email"
        name=""
        id=""
      />
    </div>

    <div>
      <button class="bg-[#1849A9] w-[365px] h-[40px] rounded-md text-white">
        Send reset link
      </button>
    </div>

    <div class="flex flex-col items-center">
      <a [routerLink]="['/login']" class="font-bold text-[#3366FF] cursor-pointer"
        >Return to Sign in</a
      >
    </div>
  </form>
</div>
