<div>
  
  @for(question of questions; track $index){
  <app-question
    [question]="question"
    [question]="question"
    (edit)="editQuestion(question)"
    (delete)="deleteQuestion(question)"
    (duplicate)="duplicateQuestion(question)"
  ></app-question>
  }

  <div class="flex justify-center items-center">
    <button
      (click)="addQuestion()"
      class="bg-blue-500 hover:bg-[#175CD3] rounded-full p-2 mt-4 shadow transition-all ease-in 1s"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus"
      >
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
    </button>
  </div>
</div>
