<div class="flex flex-col items-center justify-center mt-1">
  <div class="flex justify-center mt-20">
    <p class="font-bold text-[25px]">Exam Submitted Successfully</p>
  </div>
  <div class="w-20 h-36 ">
    <img class="w-20 h-36  rounded-full" src="../../../../../../../../WebstormProjects/Exam-Engine/src/environments/assets/finish.avif" alt="submitted">
  </div>
  <div [routerLink]="['/student/dashboard']" class="flex float-right bg-[#1849A9] rounded-[4px] text-white py-1 px-[30px] mb-10 cursor-pointer">
    <button >Back to Home</button>
  </div>
</div>
