<div class="toast-container cursor-auto min-w-[300px]">
	@for (toast of toasts(); track $index) {
		<div class="toast" [class]="toast.type">
			<a>
				<h1 class="text-left">{{ toast.subject }}</h1>
				<p>{{ truncate(toast.message) }}</p>
			</a>
			<button class="close" type="button" (click)="removeToast(toast)">
				<svg
					width="10"
					height="10"
					viewBox="0 0 10 10"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M1.26536 9.66634L0.332031 8.73301L4.06536 4.99967L0.332031 1.26634L1.26536 0.333008L4.9987 4.06634L8.73203 0.333008L9.66536 1.26634L5.93203 4.99967L9.66536 8.73301L8.73203 9.66634L4.9987 5.93301L1.26536 9.66634Z"
						fill="#FFFFFF"
					/>
				</svg>
			</button>
		</div>
	}
</div>
